.aod_para{
    text-align: center;
    font-size: 3vh;
}

.dia_p_1aod{
    position: absolute;
    top: 25%;
    right: -32%;
  }
.dia_p_2aod{
    position: absolute;
    top: 50%;
    right: -40%;
  }
.dia_p_3aod{
    position: absolute;
    top: 58%;
    right: -34%;
  }
.dia_p_4aod{
    position: absolute;
    top: 64%;
    right: -37%;
  }
.dia_p_5aod{
    position: absolute;
    top: 70%;
    right: -29%;
  }
.dia_p_6aod{
    position: absolute;
    top: 0%;
    right: 0%;
    left: 34%;
  }
.dia_p_7aod{
    position: absolute;
    top: 12%;
    right: 0%;
    left: 20%;

  }
.dia_p_8aod{
    position: absolute;
    top: 12%;
    right: 0%;
    left: 42%;
  }
.dia_p_9aod{
    position: absolute;
    top: 20%;
    right: -29%;
  }
.dia_p_10aod{
    position: absolute;
    top: 38%;
    right: -29%;
  }
.dia_p_11aod{
    position: absolute;
    top: 48%;
    right: -32%;
  }
.dia_p_12aod{
    position: absolute;
    top: 60%;
    right: -29%;
  }
.dia_p_13aod{
    position: absolute;
    top: 75%;
    right: -25%;
  }
.dia_p_14aod{
    position: absolute;
    top: 20%;
    right: 5%;
  }
.dia_p_15aod{
    position: absolute;
    top: 38%;
    right: 5%;
  }
.dia_p_16aod{
    position: absolute;
    top: 48%;
    right: 5%;
  }
.dia_p_17aod{
    position: absolute;
    top: 60%;
    right: 5%;
  }
.p_temp{
  width: 100px;
}
.dia_p_18aod{
    position: absolute;
    top: 75%;
    right: 5%;
  }
.dia_p_19aod{
    position: absolute;
    top: 100%;
    right: 43%;
  }
.dia_p_20aod{
    position: absolute;
    top: 92%;
    right: 56%;
  }
.dia_p_21aod{
    position: absolute;
    top: 50%;
    left: -8%;
  }

.dia_p_22aod{
    position: absolute;
    top: -10%;
    right: 50%;
  }
.dia_p_23aod{
    position: absolute;
    top: 50%;
    right: -4%;
  }
.dia_p_24aod{
    position: absolute;
    top: -10%;
    left: 24%;
  }
.dia_p_25aod{
    position: absolute;
    top: 5%;
    left: 40%;
  }
.dia_p_26aod{
    position: absolute;
    top: 100%;
    left: 24%;
  }
.dia_p_27aod{
    position: absolute;
    top: 50%;
    right: 3%;
  }
.dia_p_28aod{
    position: absolute;
    top: 18%;
    right: 12%;
  }
.dia_p_29aod{
    position: absolute;
    top: 50%;
    right: -8%;
  }
.dia_p_30aod{
    position: absolute;
    top: -6%;
    left: 50%;
  }

.dia_p_31aod{
    position: absolute;
    top: 50%;
    right: -15%;
  }
.dia_p_32aod{
    position: absolute;
    top: 10%;
    left: 0%;
  }
.dia_p_33aod{
    position: absolute;
    top: 0%;
    right: 45%;
  }
.dia_p_34aod{
    position: absolute;
    top: 50%;
    right: -0%;
  }
.dia_p_35aod{
    position: absolute;
    top: 100%;
    right: 45%;
  }
.dia_p_36aod{
    position: absolute;
    top: 50%;
    right: -15%;
  }
  .dia_p_37aod{
    position: absolute;
    top: -5%;
    right: 45%;
  }

  .dia_head1{
    text-align: center;
    margin-top: 5vh;
  }