p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 10px;
}
.heading_ladle{
  text-align: center;
  padding-top: 17vh;
  font-size: 35px;
}
.button_ladle {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 150px;
  font-size: 16px;
}
.download_btn{
    margin-top: 10px;
    width: 150px;
    font-size: 16px;
}
.watermark3{
    text-align: center;
    padding-block: 20px;
    position: relative;
    top: 4px;
}

.plan_head{
  color: #1081fc;
}
.plan_head:hover{
  text-decoration: underline;
}
.dis{
  display: none;
}
.btn_div{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:30px;
  margin-top: 24px;
}

.button_ladle:hover {
  background-color: rgb(200, 200, 200);
  color: black;
  font-weight: 400;
}
.row4_ladle{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btns_ladle{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4vh;
}

/* Example styles for the Ladlecalculator component */
.head_ladle {
  text-align: center;
  padding-block: 20px;
}

.content_ladle {
  padding-top: 10px;
  margin: 0 auto;
  padding: 0 60px 0 70px;
  width: 253px;
}

.content2_ladle {
  padding-top: 10px;
  margin: 0 auto;
  padding: 0 60px 105px 70px;
  width: 211px;
}

.main-box_ladle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 5px;
  gap: 5vh;
}
.main-box_ladle_output {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  gap: 15vh;
}

.box_ladle {
  display: flex;
  margin: 0 15% 0 9%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 12px;
  /* flex-wrap: wrap; */
  /* border: 2px solid red; */
}

.box2_ladle {
  display: flex;
  margin: 0 15% 0 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 12px;
  /* flex-wrap: wrap; */
  /* border: 2px solid red; */
}

.row_ladle {
  display: flex;
  padding: 10px;
}

.textcentre_ladle {
  text-align: center;
}
.ladle_desc{
  margin: 0 auto;
    width: 128vh;
    margin-top: 13vh;
    text-align: justify;
}

/* Responsive Layout */
@media screen and (max-width: 1080px) {
  p {
    font-size: 12px;
  }

  html {
    font-size: 62.5%;
  }
  /* Adjust the layout for smaller screens */
  .box_ladle {
    margin: 0 2% 0 2%;
    /* Stack columns on small screens */
  }
  .box2_ladle {
    margin: 0 2% 0 2%;
    /* Stack columns on small screens */
  }
  .content_ladle {
    padding: 0px 0px 0px 20px;
  }
  .main-box_ladle {
    flex-direction: column;
    /* padding-top: 0px; */
  }
  .content2_ladle {
    padding-top: 10px;
    margin: 0 auto;
    padding: 0px 20px 0px 18px;
  }
}

/* Calculate Fabrication section */
.main-table_ladle {
  display: flex;
  justify-content: space-between;
  margin: 0 2% 18px 2%;
}

.row3_ladle {
  display: flex;
  padding: 8px;
  height: 50px;
  width: 175px;
}
.content3_ladle {
  padding-top: 10px;
  margin: 0 auto;
  padding: 0 15px 0 30px;
  width: 107px;
}
.border_ladle {
  border: 2px solid black;
  margin: 0 15% 18px 15%;
  border-radius: 12px;
}
.fabrication_result_ladle {
  padding-block: 20px;
}
.result-box_ladle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ladle_first{
  width: 78%;
}
.ladle_first_output{
  width: 32%;
}

.head_output{
  text-align: center;

}

.cell{
  height: 10px;
}

.ladle_second{
  width: 78%;
}
.ladle_second_output{
  width: 32%;
}

.containerfab_ladle {
  margin-bottom: 25px;
  width: 78%;
  margin: 0 auto;
}
.img_ladle{
  gap: 15vh;
}
.dia{
  position: relative;
}

.dia1{
  position: absolute;
  top: -5%;
  left: 6%;
  
}
.dia2{
  position: absolute;
  top: -5%;
  right: 4%;
}

.dia3{
  position: absolute;
  top: -5%;
  left: 50%;
}

.dia4{
  position: absolute;
  top: 15%;
  left: 1%;
}
.dia5{
  position: absolute;
  right: 1%;
  top: 15%;
  
}
.dia6{
  position: absolute;
  top: 50%;
  left: -34px;
}

.dia7{
  position: absolute;
  top: 86%;
  left: 10%;
}

.dia8{
  position: absolute;
  top: 86%;
  left: 28%;  
}
.dia9{
  position: absolute;
  top: 86%;
  left: 75%;  
}
.dia10{
  position: absolute;
  top: 86%;
  left: 92%;
}
.dia11{
  position: absolute;
  top: 90%;
  left: 50%;
}
.dia12{
  position: absolute;
  top: -8%;
  left: 22%;
}
.dia13{
  position: absolute;
  top: -8%;
  left: 67%;
}

.dia_p_1{
  position: absolute;
  top: 0;
  right: 25%;
  top: -19px;
}
.dia_p_2{
    position: absolute;
    top: 0;
    left: 25%;
    top: -19px;
}
.dia_p_3{
  position: absolute;
  right: -37px;
  top: 50%;
}
.dia_p_4{
  position: absolute;
  top: 100%;
  left: 50%;
}

.dia_p_5{
  position: absolute;
  top: 0;
  right: 50%;
  margin: -25px;
}
.dia_p_6{
  position: absolute;
  top: 50%;
  margin: -31px;
}
.dia_p_7{
  position: absolute;
    right: -31px;
    top: 45%;

}
.dia_p_8{
  position: absolute;
    top: 90%;
    left: 45%;
}
.cal_width{
  width: 400;
}

.dia_p_t1{
  position: absolute;
  top: 0;
  left: 50%;
  top: -8%;
}
.dia_p_t2{
  position: absolute;
  top: 0;
  left: -10%;
  top: 50%;
}
.dia_p_t3{
  position: absolute;
  top: 0;
  left: 90%;
  top: 50%;
  width: 100%;
}
.dia_p_t4{
  position: absolute;
  top: 0;
  left: 50%;
  top: -8%;
}
.dia_p_t5{
  position: absolute;
  top: 0;
  left: -10%;
  top: 50%;
}
.dia_p_t6{
  position: absolute;
  /* top: 0; */
  left: 50%;
  top: 90%;
}

.rad{
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10vh;
}

.visi{
  visibility: hidden;
}


.head_lad{
  text-align: center;
  padding-block: 4px;
}


@media screen and (max-width: 900px) {
  
}
@media screen and (max-width: 600px) {
  .ladle_desc{
    width: 44vh;
  }
  .img_ladle{
    gap: 0vh;
  }
  .p1{
    font-size: 8px;
  }
  .dia_p_1{
    position: absolute;
    top: 0;
    right: 25%;
    top: -19px;
  }
  .dia_p_2{
      position: absolute;
      top: 0;
      left: 25%;
      top: -19px;
  }
  .dia_p_3{
    right: -19px;
  }
  .dia_p_4{
    position: absolute;
    top: 100%;
    left: 50%;
  }
  
  .dia_p_5{
    margin: -13px;
  }
  .dia_p_6{
    margin: -18px;
  }
  .dia_p_7{
    right: -14px;
  
  }
  .dia_p_8{
    position: absolute;
      top: 100%;
      left: 50%;
  }
  .dia1{
    top: -31%;
  }
  .dia2{
    top: -31%;
  }
  
  .dia3{
    top: -31%;
  }
  .dia12{
    top: -17%;
    left: 41%;
  }
  .cal_width{
    width: 200;
  }
}

@media screen and (max-width: 1080px) {
  .content3_ladle {
    padding: 0 2px 0 9px;
    width: 47px;
    margin: -12px;
  }
  .main-table_ladle {
    margin: 0 2% 18px 2%;
  }
  .border_ladle {
    margin: 0 2% 18px 2%;
    border-radius: 12px;
  }
  .row3_ladle {
    display: flex;
    padding: 40px 0 0 0;
    height: 25px;
    width: 10px;
  }
  .main-box_ladle_output{
    gap: 2vh;
  }

  p {
    font-size: 10px;
  }
}
