p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 10px;
}
.heading_ladle{
  text-align: center;
  padding-top: 17vh;
  font-size: 35px;
}
.button_ladle {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 150px;
  font-size: 16px;
}
.download_btn{
    margin-top: 10px;
    width: 150px;
    font-size: 16px;
}

.plan_head{
  color: #1081fc;
}
.plan_head:hover{
  text-decoration: underline;
}
.dis{
  display: none;
}
.btn_div{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:30px;
  margin-top: 24px;
}

.button_ladle:hover {
  background-color: rgb(200, 200, 200);
  color: black;
  font-weight: 400;
}
.row4_ladle{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btns_ladle{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4vh;
}

/* Example styles for the Ladlecalculator component */
.head_ladle {
  text-align: center;
  padding-block: 20px;
}

.content_ladle {
  padding-top: 10px;
  margin: 0 auto;
  padding: 0 60px 0 70px;
  width: 253px;
}

.content2_ladle {
  padding-top: 10px;
  margin: 0 auto;
  padding: 0 60px 105px 70px;
  width: 211px;
}

.main-box_ladle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 5px;
  gap: 5vh;
}
.main-box_ladle_output {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  gap: 5vh;
}

.box_ladle {
  display: flex;
  margin: 0 15% 0 9%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 12px;
  /* flex-wrap: wrap; */
  /* border: 2px solid red; */
}

.box2_ladle {
  display: flex;
  margin: 0 15% 0 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 12px;
  /* flex-wrap: wrap; */
  /* border: 2px solid red; */
}

.row_ladle {
  display: flex;
  padding: 10px;
}

.textcentre_ladle {
  text-align: center;
}
.ladle_desc{
  margin: 0 auto;
    width: 128vh;
    margin-top: 13vh;
    text-align: justify;
}

/* Responsive Layout */
@media screen and (max-width: 1080px) {
  p {
    font-size: 12px;
  }

  html {
    font-size: 62.5%;
  }
  /* Adjust the layout for smaller screens */
  .box_ladle {
    margin: 0 2% 0 2%;
    /* Stack columns on small screens */
  }
  .box2_ladle {
    margin: 0 2% 0 2%;
    /* Stack columns on small screens */
  }
  .content_ladle {
    padding: 0px 0px 0px 20px;
  }
  .main-box_ladle {
    flex-direction: column;
    /* padding-top: 0px; */
  }
  .content2_ladle {
    padding-top: 10px;
    margin: 0 auto;
    padding: 0px 20px 0px 18px;
  }
}

/* Calculate Fabrication section */
.main-table_ladle {
  display: flex;
  justify-content: space-between;
  margin: 0 2% 18px 2%;
}

.row3_ladle {
  display: flex;
  padding: 8px;
  height: 50px;
  width: 175px;
}
.content3_ladle {
  padding-top: 10px;
  margin: 0 auto;
  padding: 0 15px 0 30px;
  width: 107px;
}
.border_ladle {
  border: 2px solid black;
  margin: 0 15% 18px 15%;
  border-radius: 12px;
}
.fabrication_result_ladle {
  padding-block: 20px;
}
.result-box_ladle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ladle_first{
  width: 92%;
}
.ladle_first_output{
  width: 22%;
}

.head_output{
  text-align: center;

}

.cell{
  height: 10px;
}

.ladle_second{
  width: 92%;
}
.ladle_second_output{
  width: 22%;
}

.containerfab_ladle {
  margin-inline: 160px;
  margin-bottom: 25px;
}
.img_ladle{
  gap: 15vh;
}
.p_1{
  position: absolute;
  left: 76vh;
  margin-top: -4vh;
}
.p_2{
  position: absolute;
  left: 62vh;
  margin-top: -4vh;
}
.p_3{
  position: absolute;
  left: 96vh;
  margin-top: 21vh;
}
.p_4{
  position: absolute;
  left: 71vh;
  margin-top: 41vh;
}
.p_5{
  position: absolute;
  left: 139vh;
  margin-top: -4vh;
}
.p_6{
  position: absolute;
    left: 113vh;
    margin-top: 21vh;
}
.p_7{
  position: absolute;
  left: 186vh;
  margin-top: 17vh;
}
.p_8{
  position: absolute;
  left: 162vh;
  margin-top: 41vh;
}



@media screen and (max-width: 900px) {
  .containerfab_ladle {
    margin: 10px;
  }
}

@media screen and (max-width: 1080px) {
  .content3_ladle {
    padding: 0 2px 0 9px;
    width: 47px;
    margin: -12px;
  }
  .main-table_ladle {
    margin: 0 2% 18px 2%;
  }
  .border_ladle {
    margin: 0 2% 18px 2%;
    border-radius: 12px;
  }
  .row3_ladle {
    display: flex;
    padding: 40px 0 0 0;
    height: 25px;
    width: 10px;
  }

  p {
    font-size: 10px;
  }
}
