
.body_pricing{
    background-color: #f9fbfc;
}
.main {
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.15);
    width: 85%;
    margin: 0 auto;
    margin-top: 13vh;
    margin-bottom: 15vh;
    padding-top: 0vh;
    position: relative;
    top: 6vh;
}

.price-table {
    width: 100%;
    border-collapse: collapse;
    border: 0 none;
}
.price-table tr:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.03);
}
.price-table tr td {
    border-left: 1px solid rgba(0, 0, 0, 0.05);
    padding: 8px 24px;
    font-size: 14px;
}
.price-table tr td:first-child {
    border-left: 0 none;
}
.price-table tr td:not(:first-child) {
    text-align: center;
}
.price-table tr:nth-child(even) {
    background-color: #FFFFFF;
}
.price-table tr:hover {
    background-color: #EEEEEE;
}
.price-table .fa-check {
    color: #1081fc;
}
.price-table .fa-times {
    color: #D8D6E3;
}

/* Highlighted column */
.price-table tr:nth-child(2n) td:nth-child(3) {
    /* background-color: rgba(16,129,252, 0.25); */
}
.price-table tr td:nth-child(3) {
    /* background-color: rgba(16,129,252, 0.15); */
    padding: 8px 48px;
}
.price-table tr td:nth-child(3) .fa-check,
.price-table tr:nth-child(2n) td:nth-child(3) .fa-check {
    /* color: #ffffff; */
}
/**/

.price-table tr.price-table-head td {
    font-size: 16px;
    font-weight: 600;
    font-family: "Montserrat";
    text-transform: uppercase;
}
.price-table tr.price-table-head {
    background-color: rgb(16,129,252);
    color: #FFFFFF;
}
.price-table td.price {
    color: black;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: 600;
    font-family: "Montserrat";
}

.btn_pricing{
    background-color: rgb(16,129,252);
    margin-top: 15px;
}

.price-table td.price a {
    background-color: rgb(16,129,252);
    color: #FFFFFF;
    padding: 12px 32px;
    margin-top: 16px;
    font-size: 12px;
    font-weight: 600;
    font-family: "Montserrat";
    text-transform: uppercase;
    display: inline-block;
    /* border-radius: 64px; */
}
td.price a:hover{
    background-color: rgb(2, 87, 179);
}
.price-table td.price-table-popular {
    font-family: "Montserrat";
    border-top: 3px solid rgb(16,129,252);
    color: rgb(16,129,252);
    text-transform: uppercase;
    font-size: 12px;
    padding: 12px 48px;
    font-weight: 700;
}
.price-table .price-blank {
    background-color: #fafafa;
    border: 0 none;
}

.price-table svg {
    width: 90px;
    fill: rgb(16,129,252);
}
.plan{
    font-size: 12px;
    font-weight: 400;
}
.paypal{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:600px){
    .price-table svg{
        width: 50px;
    }
    .price-table tr td {
        padding: 7px 4px;
        font-size: 8px;
    }
    .price-table tr td:nth-child(3) {
        /* background-color: rgba(16,129,252, 0.15); */
        padding: 8px 5px;
    }
    .price-table td.price {
        
        padding: 11px 2px;
        font-size: 14px;
        
    }
    
    .btn_pricing{
        background-color: rgb(16,129,252);
        margin-top: 15px;
        padding: 10px 5px;
        font-size: 10px;
    }
    .price-table tr.price-table-head td {
        font-size: 11px;
    }
    .plan{
        font-size: 8px;
    }
    .main{
        margin-top: 3vh;
        top: 12vh;
    }
}